<section class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp" style="width: 185px;" alt="logo">
                  <h4 class="mt-1 mb-5 pb-1">Enter Your Company Information Here</h4>
                </div>

                <form>      
                  <div class="form-outline mb-4">
                    <mat-hint>Company Name</mat-hint>
                      <input type="text" name="companyname" placeholder="Company Name" id="form2Example11" class="form-control" required [(ngModel)]="companyInfo.company_name"/>
                  </div>
                  <div class="form-outline mb-4">
                    <mat-hint>Description</mat-hint>
                      <input type="text" name="companydescription" rows="4" cols="50" placeholder="Description" id="form2Example22" class="form-control" [(ngModel)]="companyInfo.company_desc"/>
                  </div>
                  <div class="form-outline mb-4">
                    <mat-hint>Company Website</mat-hint>
                      <input type="url" name="companywebsite" placeholder="Company Website" id="form2Example33" class="form-control"  [(ngModel)]="companyInfo.company_website"/>
                  </div>
                  <div class="form-outline mb-4">
                    <mat-hint>Company E-Mail</mat-hint>
                      <input type="email" name="companyemail" placeholder="Company E-Mail" id="form2Example55" class="form-control"  [(ngModel)]="companyInfo.company_email"/>
                  </div>
                  <div class="form-outline mb-4">
                    <mat-hint>Company Address</mat-hint>
                      <input type="text" name="companyaddress" placeholder="Company Address" id="form2Example44" class="form-control"  [(ngModel)]="companyInfo.company_address"/>
                  </div>
                  <div class="form-outline mb-4">
                    <mat-hint>Company Mission</mat-hint>
                      <input type="text" name="companymission" placeholder="Company Mission" id="form2Example636" class="form-control"  [(ngModel)]="companyInfo.company_mission" />
                  </div>              
                  <div class="text-center pt-1 mb-5 pb-1">
                    <input class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit" value="Submit" (click)="doSubmit()">
                  </div>

                </form>

              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">Make your first impression last</h4>
                <p class="small mb-0">Let the applicants know everything about your company!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>