<section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">
  
                  <div class="text-center">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp" style="width: 185px;" alt="logo">
                    <h4 class="mt-1 mb-5 pb-1">Enter Your Profile Information Here</h4>
                  </div>
  
                  <form action="https://g13jobapi.herokuapp.com/api/profile/createprofile" enctype="multipart/form-data" method="POST">      
                    <!-- <div class="form-outline mb-4">
                        <input type="text" name="user_name" placeholder="Username" id="user_name" class="form-control"  [(ngModel)]="profileInfo.user_name"/>
                    </div> -->
                    <div class="form-outline mb-4">
                      <mat-hint>First Name</mat-hint>
                        <input type="text" name="first_name" placeholder="First Name" id="first_name" class="form-control"  [(ngModel)]="profileInfo.first_name"/>     
                    </div>
                    <div class="form-outline mb-4">
                      <mat-hint>Last Name</mat-hint>
                        <input type="text" name="last_name" placeholder="Last Name" id="last_name" class="form-control"  [(ngModel)]="profileInfo.last_name"/>
                    </div>
                    <!-- <div class="form-outline mb-4">
                        <input type="email" name="email_address" placeholder="E-Mail" id="email_address" class="form-control"  [(ngModel)]="profileInfo.email_address"/>
                    </div> -->
                    <!-- <div class="form-outline mb-4">
                        <input type="url" name="profile_pic" placeholder="Profile Picture Address" id="profile_pic" class="form-control"  [(ngModel)]="profileInfo.profile_pic" />
                    </div> -->
                        <mat-form-field appearance="fill">
                          <mat-label>Education</mat-label>
                          <select [(ngModel)]="selectedEducation" name="education" matNativeControl required>
                            <option *ngFor="let o of educations" [value]="o.value">{{o.name}}</option>
                          </select>
                        </mat-form-field>
                    <div class="form-outline mb-4">
                      <mat-hint>Interests</mat-hint>
                        <input type="text" name="interests" placeholder="Interests" id="interests" class="form-control"  [(ngModel)]="profileInfo.applicant_interests"/>
                    </div>
                    <div class="form-outline mb-4">
                      <mat-hint>Hobbies</mat-hint>
                      <input type="text" name="hobbies" placeholder="Hobbies" id="hobbies" class="form-control"  [(ngModel)]="profileInfo.applicant_hobbies"/>
                  </div>
                    <div class="form-outline mb-4">
                      <mat-hint>Field of Interest</mat-hint>
                        <input type="text" name="field" placeholder="Field of Interest" id="field" class="form-control"  [(ngModel)]="profileInfo.work_fields"/>
                    </div>
                    <div class="form-outline mb-4">
                      <mat-hint>City</mat-hint>
                        <input type="text" name="city" placeholder="City" id="city" class="form-control"  [(ngModel)]="profileInfo.city"/>
                    </div>
                    <div class="form-outline mb-4">
                      <mat-hint>Country</mat-hint>
                        <input type="text" name="country" placeholder="Country" id="country" class="form-control"  [(ngModel)]="profileInfo.country"/>
                    </div>
              
                    <div class="text-center pt-1 mb-5 pb-1">
                      <input class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit" value="Submit" (click)="doSubmit()">
                    </div>
  
                  </form>
  
                </div>
              </div>
              <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                  <h4 class="mb-4">Make your first impression last</h4>
                  <p class="small mb-0">Let everyone know who you are!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>