<section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">
  
                  <div class="text-center">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp" style="width: 185px;" alt="logo">
                    <h4 class="mt-1 mb-5 pb-1">Enter Your Profile Information Here</h4>
                  </div>
  
                  <form action="" enctype="multipart/form-data" method="POST">      
                    <!-- <div class="form-outline mb-4">
                        <input type="text" name="user_name" placeholder="Username" id="user_name" class="form-control"  [(ngModel)]="profileInfo.user_name"/>
                    </div> -->
                    <div class="form-outline mb-4">
                      <mat-hint>Add a Manager By Username</mat-hint>
                        <input type="text" name="manager" placeholder="Manager" id="manager" class="form-control"  [(ngModel)]='newManager'/>     
                    </div>
                <div class="text-center pt-1 mb-5 pb-1">
                      <input class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit" value="Submit" (click)="doSubmit()">
                    </div>
  
                  </form>
  
                </div>
              </div>
              <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                  <h4 class="mb-4">Add multiple managers to organize your company!</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>