	<!-- Header-->
	<header class="masthead text-center text-white">
		<div class="masthead-content">
			<div class="container px-5">
				<h1 class="">Welcome to Job Recruitment App! {{User}}</h1>
				<h2 class="masthead-subheading mb-0">Find a Job Today</h2>
				<a class="btn btn-primary btn-xl rounded-pill mt-5" href="#scroll">Learn More</a>
			</div>
		</div>
		<div class="bg-circle-1 bg-circle"></div>
		<div class="bg-circle-2 bg-circle"></div>
		<div class="bg-circle-3 bg-circle"></div>
		<div class="bg-circle-4 bg-circle"></div>
	</header>
	<!-- Content section 1-->
	<section id="scroll">
		<div class="container px-5">
			<div class="row gx-5 align-items-center">
				<div class="col-lg-6 order-lg-2">
					<div class="p-5"><img class="img-fluid rounded-circle" src="../../assets/work1.jpg" alt="work meeting" /></div> <!--https://unsplash.com/photos/376KN_ISplE-->
				</div>
				<div class="col-lg-6 order-lg-1">
					<div class="p-5">
						<h2 class="display-4">Heading 1</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Content section 2-->
	<section>
		<div class="container px-5">
			<div class="row gx-5 align-items-center">
				<div class="col-lg-6">
					<div class="p-5"><img class="img-fluid rounded-circle" src="../../assets/work2.jpg" alt="buildings" /></div> <!--https://unsplash.com/photos/PhYq704ffdA-->
				</div>
				<div class="col-lg-6">
					<div class="p-5">
						<h2 class="display-4">Heading 2</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Content section 3-->
	<section>
		<div class="container px-5">
			<div class="row gx-5 align-items-center">
				<div class="col-lg-6 order-lg-2">
					<div class="p-5"><img class="img-fluid rounded-circle" src="../../assets/work3.jpg" alt="personal meeting" /></div> <!--https://unsplash.com/photos/eF7HN40WbAQ-->
				</div>
				<div class="col-lg-6 order-lg-1">
					<div class="p-5">
						<h2 class="display-4">Heading 3</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
					</div>
				</div>
			</div>
		</div>
	</section>